<h1> Summary of Expected Spending in Retirement </h1>

<h3> Overview of Entries </h3>

<table border = "1">
<tr>
<th> Housing</th>
<th> Transportation</th>
<th> Education</th>
<th> Food & Personal Expenses </th>
<th> Savings </th>
<th> </th>
</tr>


<tr>

  <td>
  <%= number_to_currency (@housing_expenses_budget_1) %>
  </td>

  <td>
  <%= number_to_currency (@transportation_expenses_budget_2) %>
  </td>

  <td>
  <%= number_to_currency (@educational_expenses_budget_3) %>
  </td>

  <td>
  <%= number_to_currency (@food_personal_expenses_budget_4) %>
  </td>

  <td>
  <%= number_to_currency (@savings_investments_budget_5) %>
  </td>

  <td> <a href = "/delete_budgetcalculator_account"> Delete </a> </td>

</tr>

</table>

<h6> Monthly Spend: <%= number_to_currency(@monthly_budget) %> </h6>

<h6> Annual Spend: <%= number_to_currency(@annual_budget)%> </h6>


<form action="/personal_information_sign_up" >
<button >
Step 2: Personal Information
</button>
</form>

<form action="/budget_sign_up/?" >
<button >
 << Back Step 1: Budget
</button>
</form>

