<h1> Summary of Expected Spending in Retirement </h1>

<h5> <%= @information_demo %> </h5>

<h5> You are <%= @current_age %> years old, expect to retire at the age of <%= @retirement_age %> and expect to live until the age of <%= @life_expectancy%>. 
<h5> You have <%= @number_of_years_to_save %> years to save for retirement. </h5>

<h5> HE <%= @annual_retirement_savings %> </h5>

<h5> HE <%= @expected_growth_rate %> </h5>




